.table-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
 
  }
  
.user-table {
    width: 80%;
    border-collapse:collapse,solid,rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn-modify1,
  .btn-delete1 {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .btn-modify1 {
    color: blue;
  }
  
  .btn-delete1 {
    color: red;
  }

  .user-table .column-checkbox {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

#btn-generate-report{
    padding: 8px 16px;
    background-color: #082363;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#btn-generate-report:hover{
    background-color: #010716;
}



