body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.section {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 30px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input, .form-group select {
  width: 100%; /* Ancho completo por defecto */
  max-width: 350px; /* Limita el ancho máximo */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
}

.button:hover {
  background-color: #45a049;
}

.button-container {
  text-align: right;
}

.form-row {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas pequeñas */
}

.form-row .form-group {
  margin-right: 30px;
  flex: 1 1 45%; /* Los elementos ocupan el 45% del ancho con márgenes */
}

/* Vista original para pantallas grandes */
@media (min-width: 1200px) {
  .section {
      margin-left: 60px;
      margin-right: 30px;
  }

  .form-group input, .form-group select {
      width: 350px; /* Mantén el ancho fijo en pantallas grandes */
  }
  
  .form-row {
      flex-wrap: nowrap; /* Evita que las filas se ajusten en pantallas grandes */
  }

  .form-row .form-group {
      margin-right: 30px;
      flex: none; /* Las columnas mantendrán su tamaño */
  }
}

/* Ajustes para pantallas medianas */
@media (max-width: 1199px) and (min-width: 768px) {
  .section {
      margin-left: 30px;
      margin-right: 30px;
  }

  .form-group input, .form-group select {
      width: 100%; /* Que los inputs ocupen el ancho completo en pantallas medianas */
  }

  .form-row .form-group {
      flex: 1 1 48%; /* Las columnas ocupan casi la mitad del ancho */
      margin-right: 20px;
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
  .section {
      margin-left: 10px;
      margin-right: 10px;
  }

  .form-group input, .form-group select {
      width: 100%; /* El input ocupa el ancho completo */
  }

  .form-row {
      flex-direction: column; /* Los elementos se apilan uno sobre otro */
  }

  .form-row .form-group {
      margin-right: 0;
      margin-bottom: 10px; /* Espacio inferior entre los grupos */
      flex: 1 1 100%;
  }

  .button-container {
      text-align: center; /* Centra el botón en pantallas pequeñas */
  }
}