  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .section {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 30px;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group input {
    width: 350px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button-container {
    text-align: right;
  }

  .form-row {
    display: flex;
  }
  .form-row .form-group {
    margin-right: 30px;
  }

  .cartas {
    margin-top: 20px;
    text-align: center;
  }

  .logistica {
    margin-top: 20px;
    text-align: center;
  }

  .lugares {
    list-style: disc; 
    margin-left: 40px;
  }

  h1{
    font-size: 30px;
  }

  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
  }
  .card h2 {
    margin-top: 0;
    font-size: 20px;
  }

  .card ul {
    list-style: none;
    padding: 0;
  }

  .card ul li {
    margin-bottom: 10px;
  }

  .card ul li strong {
    display: inline-flex;
    width: 300px;
  }

  .buttons {
    margin-top: 20px;
  }

  .buttons button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .buttons .pre-invitacion {
    background: #244D0C;
  }

  .buttons .pre-invitacion:hover {
    background: #398914; /* Un verde más claro para el hover */
  }

  .buttons .editar {
    background: #D2CB27;
  }

  .buttons .editar:hover {
    background: #fff82f; /* Un amarillo más claro para el hover */
  }

  .buttons .guardar {
    background: #000;
    color: #ffffff;
  }

  .buttons .guardar:hover {
    background: #3d3c3c; /* Gris para el hover */
  }  

 /* Tabla de infomacion de las rutas*/
  .container {
    background-color: white;
    padding: 20px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1500px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #ddd;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  .botones {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  .conjuncion{
    padding: 10px 20px;
    background-color: #ff7b00;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .conjuncion:hover{
    background: #c86100;
  }

  .rutas{
    background-color: #ffe600;
    color: #000000;
  }

  .rutas:hover {
    background-color: #c3af00;
  }

  .recorrido{
    background-color: #205d00;
  }

  .recorrido:hover {
    background-color: #377615;
  }

  .guardarRuta{
    background-color: #00415d;
  }

  .guardarRuta:hover {
    background-color: #02638d;
  }

  /* Estilo para el contenedor del select y el botón */
  .form-group-select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-group-select label {
    margin-right: 10px;
  }

  .form-group-select .form-control {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  .buttonSelectImprimir {
    padding: 10px 20px;
    background-color: #272727;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buttonSelectImprimir:hover {
    background-color: #050505;
  }